a {
  text-decoration: none;
  color: black;
}

.hide {
  display: none;
}

.question {
  display: inline-block;
  width: 120px;
}

.coffeeMenu {
  display: flex;
  gap: 5%;
}

.coffeeCard {
  width: 100px;
  text-align: center;
  border: 1px solid black;
  padding: 50px;
}